In [1]:
import pyspark

In [2]:
pyspark.__file__

'C:\\Users\\jriva\\Anaconda3\\envs\\PythonData\\lib\\site-packages\\pyspark\\__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [5]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-03-05 13:36:56--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.225.235, 52.216.60.16, 52.216.24.142, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.225.235|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.2'

     0K .......... ..                                         100%  526K=0.02s

2023-03-05 13:36:56 (526 KB/s) - 'taxi+_zone_lookup.csv.2' saved [12322/12322]

In [6]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [7]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [8]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [11]:
# Writing dataframe to parquet file, adding overwrite feature to original code

df.write.parquet('zones', mode='overwrite')

In [10]:
!ls -lh

total 842M
-rw-r--r-- 1 jriva 197609 6.6K Feb 26 20:40 03_test.ipynb
-rw-r--r-- 1 jriva 197609  43K Feb 26 22:29 04_pyspark.ipynb
-rw-r--r-- 1 jriva 197609  34K Feb 26 17:33 05_taxi_schema.ipynb
-rw-r--r-- 1 jriva 197609 9.0K Feb 26 17:33 06_spark_sql.ipynb
-rwxr-xr-x 1 jriva 197609 2.6K Feb 26 17:33 06_spark_sql.py
-rwxr-xr-x 1 jriva 197609 2.8K Feb 26 17:33 06_spark_sql_big_query.py
-rw-r--r-- 1 jriva 197609 7.9K Feb 26 17:33 07_groupby_join.ipynb
-rw-r--r-- 1 jriva 197609  12K Feb 26 17:33 08_rdds.ipynb
-rw-r--r-- 1 jriva 197609 4.5K Feb 26 17:33 09_spark_gcs.ipynb
-rw-r--r-- 1 jriva 197609 3.1K Feb 26 17:33 cloud.md
-rw-r--r-- 1 jriva 197609  582 Feb 26 17:33 download_data.sh
drwxr-xr-x 1 jriva 197609    0 Feb 26 21:07 fhvhv
-rw-r--r-- 1 jriva 197609 718M Jul 14  2022 fhvhv_tripdata_2021-01.csv
-rw-r--r-- 1 jriva 197609 124M Jul 14  2022 fhvhv_tripdata_2021-01.csv.gz
-rw-r--r-- 1 jriva 197609  62K Feb 26 21:51 head.csv
-rw-r--r-- 1 jriva 197609  17K Feb 26 17:33 homework.ipynb
-rw-r--r-- 1 jriva 197609  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-r--r-- 1 jriva 197609  13K Aug 17  2016 taxi+_zone_lookup.csv.1
-rw-r--r-- 1 jriva 197609  13K Aug 17  2016 taxi+_zone_lookup.csv.2
drwxr-xr-x 1 jriva 197609    0 Feb 26 20:40 zones